@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/img/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    
}

body *{
    font-family: "poppins", sans-serif;
    line-height: 160%;
}

header{
    padding-top: 32px;
    text-align: center;
}

header div:hover{
    transform: scale(1.1);
}

header div{
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, #9572FC 0%, #43e7ad, #E2D45C 100%);
    border-radius: 50%;
    transition: all .3s;

    display: flex;
    padding: 4px;
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 32px;
}

section{
    color: #fff;
    padding-top: 3px;

    background: linear-gradient(90deg, #9572FC 0%, #43e7ad, #E2D45C 100%);
    border-radius: 10px;
}

section div{
    background-color: #2a2634;
    padding: 24px 32px 32px;
    border-radius: 8px;
}

section h2{
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p{
    font-weight: 500;
    font-size: 16px;
    color: #a1a1aa;
}

section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}



.games-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 2px solid #443e54;
}

/* animation delay */

header div{
    animation: FromTop .7s .3s backwards;
}

main section{
    animation: FromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

/* animations */

@keyframes FromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}